
@mixin linearGradient ($colorA, $colorB)
{
	background: colorA;
    background-image: -webkit-linear-gradient(top, $colorA, $colorB);
    background-image: -moz-linear-gradient(top, $colorA, $colorB);
    background-image: -ms-linear-gradient(top, $colorA, $colorB);
    background-image: -o-linear-gradient(top, $colorA, $colorB);
    background-image: linear-gradient(top, bottom, $colorA, $colorB);
}



@mixin fontFace($fontName, $fontUrl)
{
	@font-face
	{
		font-family: $fontName;
		src: url('#{$fontUrl}.eot?');
		src: url('#{$fontUrl}.eot?#iefix') format('embedded-opentype'),
		     url('#{$fontUrl}.woff') format('woff'),
		     url('#{$fontUrl}.ttf') format('truetype'),
		     url('#{$fontUrl}.svg##{$fontName}') format('svg');
	}
}
